<nav class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-th-large text-warning" aria-hidden="true"></span> <span class="text-warning">ALTKZ</span><span class="text-primary">.COM</span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <p class="navbar-text padding-left">
                <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> <a href="tel:+73853247999">8-385-32-47999</a> <small class="text-muted">пн-пт</small>
            </p>
            <p class="navbar-text padding-left">
                <span class="glyphicon glyphicon-phone" aria-hidden="true"></span> <a href="tel:+79132687801">8-913-268-7801</a> <small class="text-muted">ежедневно</small>
            </p>
            <p class="navbar-text padding-left">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:sale@altkz.com">sale@altkz.com</a>
            </p>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Главная</a></li>
            <li><a href="/prices">Цены</a></li>
            <li><a href="/delivery">Доставка</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </div>
</nav>