<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="/"><span style="color: chocolate"><i class="fas fa-th"></i> ALTKZ</span><span class="text-muted">.COM</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <span class="navbar-text mr-3">
            <a class="text-primary" href="tel:+73853247999"><i class="fas fa-phone"></i> 8-385-32-47999</a>
        </span>
        <span class="navbar-text mr-3">
            <a class="text-primary" href="tel:+79132687801"><i class="fas fa-mobile-alt"></i> 8-913-268-7801</a>
        </span>
        <span class="navbar-text mr-3">
            <a class="text-primary" href="mailto:sale@altkz.com"><i class="far fa-envelope"></i> sale@altkz.com</a>
        </span>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/prices">Цены</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/delivery">Доставка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts">Контакты</a>
            </li>
        </ul>
    </div>
</nav>