<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='yandex-verification' content='4bb327d8c912db56'>
    <meta name="google-site-verification" content="U2SdHAU49E_-BEDFdG1VDcRyp8nqCN2h4xKZp_t_qts">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ page.description }}">
    <link rel="shortcut icon" href="/assets/img/ico/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/jquery-3.5.0.slim.min.js"></script>
    <title>{{ page.title }}</title>
</head>
<body>
{% include navigation.html %}
<div class="container-fluid pb-4 pt-5">
    {{ content }}
    <br>
    <div class="row">
        <div class="col-lg-4 col-md-6 p-4">
            <div class="card bg-light">
                <div class="row no-gutters">
                    <div class="col-sm-4 p-2">
                        <img src="/assets/img/bricks.png" class="card-img" alt="Кирпич М100">
                    </div>
                    <div class="col-sm-8 pl-2">
                        <div class="card-body">
                            <h4 class="card-title">Кирпич М100</h4>
                            <ul class="pl-3">
                                <li class="pt-1">красный</li>
                                <li class="pt-1">полнотелый</li>
                                <li class="pt-1">керамический</li>
                                <li class="pt-1">строительный</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    <h2 class="mb-3 font-weight-light">от 8.50 руб</h2>
                    <a href="/prices#m100" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 p-4">
            <div class="card bg-light">
                <div class="row no-gutters">
                    <div class="col-sm-4 p-2">
                        <img class="card-img" src="/assets/img/bricks.png" alt="Кирпич М100">
                    </div>
                    <div class="col-sm-8 pl-2">
                        <div class="card-body">
                            <h4 class="card-title">Кирпич М125</h4>
                            <ul class="pl-3">
                                <li class="pt-1">красный</li>
                                <li class="pt-1">полнотелый</li>
                                <li class="pt-1">керамический</li>
                                <li class="pt-1">строительный</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    <h2 class="mb-3 font-weight-light">от 9.00 руб</h2>
                    <a href="/prices#m125" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 p-4">
            <div class="card bg-light">
                <div class="row no-gutters">
                    <div class="col-sm-4 p-2">
                        <img src="/assets/img/bricks.png" class="card-img" alt="Кирпич М100">
                    </div>
                    <div class="col-sm-8 pl-2">
                        <div class="card-body">
                            <h4 class="card-title">Кирпич М175</h4>
                            <ul class="pl-3">
                                <li class="pt-1">красный</li>
                                <li class="pt-1">облегчённый</li>
                                <li class="pt-1">керамический</li>
                                <li class="pt-1">строительный</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    <h2 class="mb-3 font-weight-light">от 9.50 руб</h2>
                    <a href="/prices#m175" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
    <div class="border-top mt-1 p-1">
        <div class="row">
            <div class="col-sm-6">
                <small class="text-muted">© 2019 altkz.com</small>
            </div>
            <div class="col-sm-6 text-right">
                <small class="text-muted">ОГРН 314220821600054, ИП Дёмкин Д.И.</small>
            </div>
        </div>
    </div>
</div>
<script defer src="/assets/js/fa/solid.js"></script>
<script defer src="/assets/js/fa/regular.js"></script>
<script defer src="/assets/js/fa/brands.js"></script>
<script defer src="/assets/js/fa/fontawesome.js"></script>
<script defer src="/assets/js/bootstrap.min.js"></script>
{% include metrics.html %}
</body>
</html>
