<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="description" content="{{ page.description }}">
    <link rel="shortcut icon" href="/assets/img/ico/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/jquery-3.4.1.slim.min.js"></script>
    <title>{{ page.title }}</title>
</head>
<body>
{% include navigation.html %}
<div class="container pb-4">
    {{ content }}
    <br>
    <hr>
    <div class="body-text">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="my-panel">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/img/app/bricks.png" class="img-responsive padding-top padding-right">
                            <h2 class="text-center"><small>от</small> 7.50<small><span class="glyphicon glyphicon-rub" aria-hidden="true"></span></small></h2>
                        </div>
                        <div class="col-sm-8">
                            <div class="padding-left">
                                <h3>Кирпич М100</h3>
                                <ul>
                                    <li>полнотелый</li>
                                    <li>красный</li>
                                    <li>строительный</li>
                                    <li>керамический</li>
                                </ul>
                                <p class="padding-left"><a href="/prices#m100"><button class="btn btn-primary">подробнее</button></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="my-panel">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/img/app/bricks.png" class="img-responsive padding-top padding-right">
                            <h2 class="text-center"><small>от</small> 8.00<small><span class="glyphicon glyphicon-rub" aria-hidden="true"></span></small></h2>
                        </div>
                        <div class="col-sm-8">
                            <div class="padding-left">
                                <h3>Кирпич М125</h3>
                                <ul>
                                    <li>полнотелый</li>
                                    <li>красный</li>
                                    <li>строительный</li>
                                    <li>керамический</li>
                                </ul>
                                <p class="padding-left"><a href="/prices#m125"><button class="btn btn-primary">подробнее</button></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="my-panel">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="/img/app/bricks.png" class="img-responsive padding-top padding-right">
                            <h2 class="text-center"><small>от</small> 8.50<small><span class="glyphicon glyphicon-rub" aria-hidden="true"></span></small></h2>
                        </div>
                        <div class="col-sm-8">
                            <div class="padding-left">
                                <h3>Кирпич М175</h3>
                                <ul>
                                    <li>облегчённый</li>
                                    <li>красный</li>
                                    <li>строительный</li>
                                    <li>керамический</li>
                                </ul>
                                <p class="padding-left"><a href="/prices#m175"><button class="btn btn-primary">подробнее</button></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-text radius-bottom border-top-gray">
        <div class="row">
            <div class="col-sm-6">
                <small class="text-muted">© 2018 altkz.com</small>
            </div>
            <div class="col-sm-6 text-right">
                <small class="text-muted">ОГРН 314220821600054, ИП Дёмкин Д.И.</small>
            </div>
        </div>
    </div>
</div>
{% include metrics.html %}
</body>
</html>